/* Get fonts preloaded first */
@font-face {
	font-family: 'Myname';
	font-style: normal;
	font-weight: 300;
	src: local('Segoe UI Light'), local('SegoeUI-Light'), url('../fonts/segoeuil.ttf');
}

@font-face {
	font-family: exo;
	src: url('../fonts/EXO-REGULAR.OTF');
} 

/* Manage elements */
html {
	background-position: top center;
	background-attachment: fixed;
	background-color: #292929;
	background: #000000 url(../images/japanstreet2560x1440_blurred.jpg) repeat scroll top left;
	background-position: top center;
	background-attachment: fixed;
	color : #FFFFFF;
	margin : 0;
	padding : 0;
	height : 100%;
	font-family: "Myname", "Helvetica", "Arial", "Bitstream Vera Sans", "Verdana", sans-serif;
	font-size:93.3%;
	margin : 0;
	padding : 0;
}

body {
	margin: 0;
	padding: 0;
}

table {
	background-color: rgba(0,0,0,0.75);
	border: solid #777 1px;
	box-shadow: 0px 0px 5px black;
}

#kanji {
	text-shadow: 0 0 5px black, 0 0 15px black, 0 0 100px black;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#bottom_copyright {
	width: 100%;
	border: 0px solid transparent;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 0 transparent;
	border-top: 1px solid #777;
	text-align: center;
	position: fixed;
	z-index: 10;
	left: 0;
	bottom: 0px;
	height: 22px;
}

#div_blkbox {
	display: inline-block;
	border: 1px solid #777;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px black;
	text-align: center;
	z-index: 10;
	padding-left: 4px;
	padding-right: 4px;
	height: 22px;
}

#content {
	padding-top: 168px;
	padding-bottom: 56;
}

.top_bar {
	width:100%;
	height:64px;
	border: 0px solid transparent;
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 0 transparent;
	border-bottom: 1px solid #777;
	padding-left: 16px;
	padding-top: 4px;
	padding-bottom: 24px;
}

.back_button {
	background: url(../images/arrow_circle_white.png) no-repeat;
}

.back_button:hover {
	background: url(../images/arrow_circle_highlighted.png) no-repeat;
}

.vx_text {
	border: 2px solid white;
	background: Transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	font-family: exo;
	height: 32px;
}

.vx_button {
	border: 2px solid white;
	background: transparent;
	font-family: Myname;
	color: #FFFFFF;
	font-size: 18px;
	height: 32px;
	margin-top: 6px;
}
a:link {color:#C0C0C0;}      /* unvisited link */
a:visited {color:#A0A0A0;}  /* visited link */
a:hover {text-shadow: 0 0 5px white; color:white;}  /* mouse over link */
a:active {color:#A0A0A0;}  /* selected link */